html {
  scroll-behavior: smooth;
}

body{
  max-width: 380px;
  text-align: center;
  color: #ffff;
  margin: auto;
  font-family: 'Regular';
}

@font-face {
  font-family: 'Regular';
  src: url('../fonts/Lato-Regular.woff') format('woff'),
       url('../fonts/Lato-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Milenia';
    src: url('../fonts/Milenia.woff') format('woff'),
         url('../fonts/Milenia.woff2') format('woff2');
    }

header {
  background-color: #ffff;
}

img {
  width: 100%;
}

h1 {
  font-size: 45px;
  font-family: 'Milenia';
}

h2 {
  font-size: 45px;
  font-family: 'Milenia';
}

p {
  font-size: 19px;
  padding: 0 40px 20px 40px;
}

.background-ment {
  background-image: url(../img/background-ment.png);
  background-size: 100%;
  background-size: cover; 
}

.background-purple {
  background-image: url(../img/background-purple.png);
  background-size: 100%;
  background-size: cover; 
}

.background-orange {
  background-image: url(../img/background-orange.png);
  background-size: 100%;
  background-size: cover; 
}

.logo {
  width: 100px;
  transform: translate(135px, 10px);
  padding-bottom: 15px;
}

.button-buy {
  width: 50%;
  transform: translate(80px, 0px);
  padding: 20px;
  transition: all 0.2s ease;
}

.button-scroll {
  width: 80px;
  padding: 30px 0 45px 0;
  transform: translate(145px, 0px);
}

.airpods-image {
  width: 240px;
  padding-top: 30px;
  transform: translate(70px, 0px);
}

.prise p {
  font-size: 30px;
}

.prise {
  font-size: 35px;
  border-radius: 20px;
  border: 2px solid #ffff;
  background-color: #ffff;
  padding: 15px 15px;
  margin: 0 120px;
  transform: translate(5px, -35px);
  color: black;
  z-index: 2;
}

.packaging-behind {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  width: 250px;
  padding: 20px 0 30px 125px;
}

.packaging-front {
  display: flex;
  justify-content: end;
  width: 270px;
  padding: 10px 0 50px 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  transition: all 0.2s ease;
}

.container img {
  padding: 0 20px;
  width: 85px;
}

.icon-media {
  display: flex;
  width: 140px;
  flex-direction: row;
  justify-content:space-between;
  padding: 40px 0 15px 15px;
  transition: all 0.2s ease;
}

footer p {
  color: black;
}

.presentation {
  background-image: url(../img/introduction-picture.webp);
  background-size: cover;
  background-size: 100%;
  margin: 5px 0 30px 0;
}

.marque {
  width: 70%;
  transform: translate(55px, -15px);
  padding-bottom: 325px;
  padding-top: 40px;
}

.line {
  width: 280px;
  transform: translate(40px, 0px);
}

.description {
  color: black;
}

.accueil-packaging {
  margin: 0 30px;
}

.shop-tom {
  background-color: #8dc6bc;
  margin-top: 30px;
  padding-bottom: 20px;
}

.shop-coyote {
  background-color: #a06aad;
  margin-top: 30px;
  padding-bottom: 20px;
}

.shop-grominet {
  background-color: #e48751;
  margin-top: 30px;
  padding-bottom: 20px;
}

.button-shop {
  width: 180px;
  padding-top: 10px;
  transform: translate(100px, 0px);
}

.titre-carte {
  color: black;
  padding: 20px 0;
}

.picture-left {
  float: left;
  margin: 20px 10px;
  width: 60px; 
} 

.title-map {
  color: black;
}

.picture-carte {
  padding: 20px 0;
}

.picture-revendeur {
  padding: 30px 0 0 10px;
}

.magasin-revendeur {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 20px;
  text-decoration: none;
  color: black;
}